


body {
    padding: 0;
    margin: 0;
}

header {
    width: 550px;
    margin: 0 auto;
    background-color: rgb(84, 80, 80);
    color: white;
    padding-bottom: 50px;
}

header > h3{
   margin: 0;
   padding: 10px 0;
   text-align: center;
}

.home-team {
    
    width: 100px;
}

.away-team {
    width: 100px;
    
    text-align: center;
}

.submit-btn {
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
}

.home-team, .away-team {
    padding: 10px 10px;
}

.teams-playing {
    text-align: center;
    margin: 0;
    padding: 10.15px 0;
}

.teams-display {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.score-box {
   
    display: flex;
    width: 550px;
    margin: 0 auto;
    background-color: rgb(84, 80, 80);
    color: white;
    justify-content: space-around;
    padding: 50px 0;
}

.team-box-styling {
    
    padding: 20px;
   
}

.score-buttons {
    display: flex;
    display: flex;
    width: 550px;
    margin: 0 auto;
    background-color: rgb(84, 80, 80);
    color: white;
    justify-content: space-around;
    padding: 50px 0 ;

}

.home-buttons, .away-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn-containers {
    display: flex;
    
}

.btn-containers button {
    height: 50px;
    width: 50px;
    margin: auto;
    border-radius: 50%;
    border: none;
    font-weight: bold;
}
